%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et

%%
%% etc/app.config
%%
{platform_db_dir,   "db"}.
{platform_log_dir,  "logs"}.
{platform_priv_dir, "priv"}.

%%
%% etc/vm.args
%%
{node,         "trade_server@127.0.0.1"}.
{crash_dump,   "logs/erl_crash.dump"}.
