%% -*- erlang -*-
[
    {trade, [
        {terminal, "{{platform_priv_dir}}/start-terminal.sh"},
        {accounts, [
        ]},
        {strategies, [
        ]}
    ]},

    {trade_admin, [
        {port, 8080},
        {host, "0.0.0.0"},
        {logs, "{{platform_log_dir}}/www"}
    ]},

    {lager, [
        {handlers, [
            {lager_console_backend, info},
            {lager_file_backend, [
                {"{{platform_log_dir}}/error.log", error, 10485760, "$W5D20", 5},
                {"{{platform_log_dir}}/console.log", info, 10485760, "$W5D20", 5}
            ]}
        ]},
        {crash_log, "{{platform_log_dir}}/crash.log"},
        {crash_log_msg_size, 65536},
        {crash_log_size, 10485760},
        {crash_log_date, "$W5D20"},
        {crash_log_count, 5},
        {error_logger_redirect, true}
    ]},

    {sasl, [
        {sasl_error_logger, false}
    ]},

    {mnesia, [
        {dir, "{{platform_db_dir}}"},
        {dc_dump_limit, 40},
        {dump_log_time_threshold, 10000},
        {dump_log_write_threshold, 100000}
    ]}
].
